<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{dd MMM hh:mm:ss aa} %t [%l] %m%n" />
		</layout>
	</appender>

	<appender name="APPLICATION_BASE_LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${jboss.server.log.dir}/vcs-application-base.log" />
		<param name="MaxBackupIndex" value="10" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[TimeStamp]%d{yyyy-MM-dd HH:mm:ss,SSS} [LogLevel]%-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="APPLICATION_FRONT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${jboss.server.log.dir}/vcs-application-front.log" />
		<param name="MaxBackupIndex" value="10" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[TimeStamp]%d{yyyy-MM-dd HH:mm:ss,SSS} [LogLevel]%-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="SERVER_LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${jboss.server.log.dir}/jboss_vcs_server.log" />
		<param name="MaxBackupIndex" value="10" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} %-5p [%c] (%t) %m%n" />
		</layout>
	</appender>

	<logger name="AgentCallHistory" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>
	
	<logger name="AgentInfo" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>

	<logger name="BrandInfo" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>

	<logger name="CategoryInfo" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>

	<logger name="LoginInfo" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>

	<logger name="MessagingHistory" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>

	<logger name="PasswordInfo" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>
	
	<logger name="ProductTypeInfo" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>
		
	<logger name="ScheduleInfo" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>
	
	<logger name="UserInfo" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</logger>
	
	<category name="APPLICATION_FRONT">
		<priority value="DEBUG" />
		<appender-ref ref="APPLICATION_FRONT_LOG" />
	</category>

	<category name="java.sql.Connection">
		<priority value="DEBUG" />
		<appender-ref ref="APPLICATION_BASE_LOG" />
	</category>

	<category name="SERVER">
		<priority value="DEBUG" />
		<appender-ref ref="SERVER_LOG" />
	</category>

	<appender name="async" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="2048" />
		<appender-ref ref="SERVER_LOG" />
		<appender-ref ref="CONSOLE" />
	</appender>
</log4j:configuration>